
body{
    display: flex;
    justify-content: center;
}

.todo-panel{
    width: 30em;
    min-height: 20em;
    margin-top: 5em;
    box-shadow: 4px 6px 6px #888;
    border: 1px solid#eee;
}
/*输入框样式*/ 
.todo-editor{
    padding: 5px 20px;
    display: flex;
    background-color: #f44336;
    color: #888;
    text-align: center;  
}

.todo-editor:after {
	content:"";
	display:table;
	clear:both;
}
/*"添加"按钮样式*/ 
.todo-editor button{  
    width: 15%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
/*输入样式*/ 
.todo-editor input{
    flex-grow: 1;
    font-size: 1em;
    padding: 2px 5px;
    border: none;
    width: 75%;
    float: left; 
    outline: 0;   
}
/*输入内容的整体样式*/ 
.todo-items{
    padding: 5px 20px;
}

.todo-items > .task{
    display: flex;
    align-items: center;
}


.todo-items > .task > input{
    width: 1.5em;
    height: 1.5em;
}

.todo-items > .task > label{
    flex-grow: 1;
    background: #eee;
    width: 1.5em;
    height: 1.5em;
}

.todo-items > .task > label:hover{
    background-color: grey;
}

.task.done > label{
    text-decoration: line-through;
    background: #888;
    color: #fff;
}

/*按钮样式*/ 
.todo-items .ctrlbar > button{
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
    width: 1.5em;
    height: 2em;
    transition: 0.3s;
}

.todo-items .ctrlbar > button:disabled{
    color: grey;
    cursor: pointer;
}

.todo-items .ctrlbar > button:disabled:hover{
    font-weight: unset;
}

.todo-items .ctrlbar > button:hover{
    font-weight: bolder;
    background-color: grey;   
}
